/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, sans-serif);
  font-variation-settings: "wght" var(--weight-card-text);
  background-image: var(--page-background);
  background-attachment: fixed;
  background-size: cover;
}

.header {
  position: relative;
  margin: 0 auto;
  margin-block-start: 100px;
  margin-block-end: 100px;
  background-color: #fff;
}

.header .header-custom {
  text-align: center;
  text-transform: uppercase;
  font-family: var(--other-font, sans-serif);
  border: 2px solid black;
  padding-block: 8em;
}

.header-custom h1 {
  font-size: var(--font-size-header);
  margin-block-end: 20px;
}

.header-custom p {
  font-size: var(--font-size-header-p);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}

.card {
  background-color: #fff;
  margin-block-end: 50px;
  border: 2px solid black;
}

.card-title {
  background-color: #fff;
  border-bottom: 2px solid black;
}

.card-title h2 {
  padding-inline: 10px 24px;
  padding-block: 1px;
  font-size: var(--font-size-card-title);
  font-variation-settings: "wght" var(--weight-card-title);
  line-height: 1.4em;
}

.card-image {
  position: relative;
  width: clamp(320px, 100%, 696px);
}

.card-image img {
  width: clamp(320px, 100%, 696px);
  object-fit: contain;
  vertical-align: middle;
  text-align: center;
}

.card-image__label {
  position: absolute;
  text-transform: uppercase;
  font-size: var(--font-size-img-label);
  font-weight: var(--weight-card-text);
  font-family: var(--other-font, sans-serif);
  color: black;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  opacity: 0.5;
}

.card-text {
  padding-inline: 25px;
  padding-block: 25px;
  font-size: var(--font-size-card-text);
  line-height: 1.17em;
  border-top: 2px solid black;
}

.card-text .card-text__paragraph p {
  margin-block-end:25px;
}

.card-btn {
  display: flex;
  justify-content: end;
  gap: 7px;
}

.card-btn button {
  display: flex;
  font-family: var(--other-font, sans-serif);
  border: initial;
  background-color: transparent;
  font-size: var(--font-size-button);
  padding: initial;
  align-items: center;
}

.card-btn button span {
  position: relative;
  display: inline-block;
  padding-block: 9px;
  border: 2px solid #fff;
  overflow: hidden;
  max-inline-size: 130px;
  inline-size: 130px;
}

.btn {
  position: relative;
  border: 2px solid black;
  background-color: #fff;
  overflow: hidden;
  transition: 0.3s ease;
}

.btn-save {
  display: flex;
  padding-inline: 6px 20px;
  padding-block: 15px;
  font-family: var(--other-font, sans-serif);
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-button);
  margin-block-end: 105px;
}

.btn-save svg {
  width: 21px;
  height: 21px;
  margin-inline-start: 14px;
}

.btn-save span {
  margin-inline-start: 8px;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
  max-inline-size: 357px;
  inline-size: 100%;
  font-family: var(--other-font, sans-serif);
  padding: 28px;
}

.dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block-end: 28px;
}

.dialog-text svg use {
  transform: scale(1.857);
}

.dialog-text p {
  display: inline-block;
  line-height: 1.5em;
  font-size: var(--font-size-button);
  margin-inline-start: 20px;
  text-transform: uppercase;
}

.btn-close {
  display: flex;
  padding-inline: 0;
  padding-block: 10px;
  text-transform: uppercase;
}

.btn-close .button__text {
  width: 100%;
  font-size: var(--font-size-button);
}

button:focus {
  outline: initial;
}

.btn:focus-visible,
.card__like-button:focus-visible,
.card__icon-button:focus-visible{
  box-shadow: 2px 2px 0 black;
}

.button__text::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease-in-out;
  mix-blend-mode: difference;
}

.button__text {
  cursor: pointer;
  color: #fff;
  mix-blend-mode: difference;
  z-index: 2;
}

.button__text:hover::before {
  mix-blend-mode: difference;
  transform: scaleX(1);
}

.card__icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.like-icon {
  cursor: pointer;
}

.like-icon .main-body {
  fill: transparent;
  transition: fill 0.3s;
}

.like-icon .core {
  fill: transparent;
  transition: fill 0.3s;
  transition-delay: 0.03s;
}

.like-icon:hover .main-body {
  transition: fill 0.3s;
  transition-delay: 0.05s;
  fill: #000;
}

.like-icon:hover .core {
  transition: fill 0.3s;
  fill: #000;
}

.like-icon:active .main-body {
  transition: fill 0.3s;
  transition-delay: 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon:active .core {
  transition: fill 0.3s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .main-body {
  transition: fill 0.3s;
  transition-delay: 0.05s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .core {
  transition: fill 0.3s;
  fill: var(--animation-fill-color);
}

.like-icon.is-liked .contour {
  transition: fill 0.3s;
  transition-delay: 0.06s;
  fill: var(--animation-fill-color);
}

.like-icon .heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: like 0.3s 0.1s ease-in;
}

.like-icon.is-liked .sparks {
  animation: sparks 0.3s 0.3s ease-in;
}

.sparks {
  opacity: 0;
}

/* Доп.классы */
.block-width {
  max-inline-size: var(--max-width);
  inline-size: 100%;
}

.effect-invert {
  filter: invert(20%);
}

.effect-dark {
  filter: brightness(80%);
}

.effect-blur {
  filter: blur(3px);
}

.effect-sepia {
  filter: sepia(50%);
}

.effect-hue-rotate {
  filter: hue-rotate(15deg);
}

.effect-grayscale {
  filter: grayscale(100%);
}

.effect-saturate {
  filter: saturate(10%) brightness(80%);
}

@media (width <= 375px) {
  .header {
    max-inline-size: 100%;
    inline-size: 100%;
  }

  .header .header-custom {
    padding-inline: 0.878em;
    padding-block: 7.5em;
  }

  .card {
    max-inline-size: 375px;
  }

  .btn-save {
    flex-direction: column;
  }

  .btn-save svg {
    width: 28px;
    height: 28px;
    margin-block-end: 8px;
  }

  .btn-save svg use {
    transform: scale(1.333);
  }
}

/*А вдруг не поддерживается...*/

@supports((text-stroke: 1px #fff) or (-webkit-text-stroke: 1px #fff)) {
  .card-image__label {
    -webkit-text-stroke: 1px #fff;
    text-stroke: 1px #fff;
    text-shadow: none;
    top: 23px;
    right: 12px;
  }
} 