/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: "Inter", sans-serif;
    --other-font: "PressStart2P", sans-serif;
    --font-size-header: clamp(3.0625rem, 2.7768rem + 1.4286vw, 4.0625rem);
    --font-size-header-p: clamp(0.875rem, 0.7143rem + 0.8036vw, 1.4375rem);
    --weight-card-title: 700;
    --weight-card-text: 400;
    --max-width: 700px;
    --font-size-card-title: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    --font-size-card-text: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
    --font-size-img-label: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    --font-size-button: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
    --contour-color: #000;
    --animation-fill-color: #FF0000;
    --page-background:
    repeating-linear-gradient(to bottom, transparent 0px, transparent 2px, #d3d3d3 2px, #d3d3d3 4px),
    repeating-linear-gradient(to right, transparent 0px, transparent 2px, #d3d3d3 2px, #d3d3d3 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);
}